body {
    background-color: #DEB887;
}
    
.nav {
    background-color: #8B4513;
    width: 100%;
    height: 69px;
    border-radius: 3px;
    }
    
.logo h1 {
    font-family: monospace;
    padding-top: 21px;
    padding-left: 20px;
    color: #DEB887;
    user-select: none;
    }
    
.main {
    margin-left: 18%;
    padding-top: 5%;
    display: grid;
    grid-template-rows: repeat(2, 350px);
    grid-template-columns: repeat(2, 700px);
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    }
    
.name-of-b {
    padding-left: 19%;
    }
    
.name-of-l {
    padding-left: 26%;
    }
    
.name-of-s {
    padding-left: 24%;
    }
    
.name-of-d {
    padding-left: 23%;
    
    }
    
.main img {
    width: 450px;
    height: 250px;
    border: #8B4513 6px solid;
}
    
a {
    color: black;
    text-decoration: none;
}
    
a:hover {
    color: #8B4513;
}
    
.logo a {
    color: #DEB887;
}
    
.logo a:hover {
    color: #DEB887;
}

.menu {
    margin-top: 5%;
    display: grid;
    grid-template-rows: repeat(3, 600px);
}

.b-1, .b-2, .b-3 {
    display: flex;
}

.menu img {
    border: solid 6px #8B4513;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 48px;
}

.bh-1 {
    padding-left: 16%;
}

.bh-2 {
    padding-left: 26%;
}

.bh-3 {
    padding-left: 18%;
}

p {
    margin: 100px;
    line-height: 1.5;
}

.text {
    padding-bottom: 20px;
}

